@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 500px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

body{
    background-color: rgb(69, 100, 108);
    padding: 10px;
}
.modal{
    background-color: cadetblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 45px 10px rgba(0,0,0,0.1);
}

input[type=text]{
    width: 100%;
    padding: 10px 10px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    margin: 0 0 10px;
    font-size: 25px;
    color: #8f8f8f;
}

input[type=number]{
    max-width: 40px;
    max-height:25px ;
    padding:5px;
    border: 0;
    outline: 0;
    border-radius: 3px;
}

input[type=checkbox]{
    border: 0;
    outline:0;
    width: 15px;
    border-radius: 3px;
    accent-color: rgb(69, 100, 108);
}

.modal div{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.modal p{
    color: #e8e8e8;
}

.modal button{
    width:100%;
    padding: 8px;
    border: 0;
    outline:0;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease-in-out;
}
.modal button:hover{
    color: #fff;
    background-color: rgb(69, 100, 108);

}
